.course-card {
	// border: 1px solid black;
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin: 0;
	padding: 1rem;
	box-sizing: border-box;
}

.main-info {
	// border: 1px solid pink;
	width: 55%;
}

.title {
	font-weight: bold;
}

.helper-info {
	border: 1px solid blue;
	width: 25%;
}

.author-info {
	display: flex;
}

.text-info {
	font-weight: bold;
}

.author-names {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	// border: 1px solid red;
	margin: 0 0 0 0.2rem;
	padding: 0;
	display: block;
}

.course-card button {
	width: 40%;
	margin-left: 30%;
}
