@import './components/Header/header';
@import './components/Courses/components/CourseCard/courseCard';
@import './components/Courses/courses';
@import './components/Courses/components/SearchBar/searchBar';
@import './components/CreateCourse/createcourse';
@import './components/Login/login';
@import './components/Registration/registration';
@import './components/CourseInfo/courseInfo';
